.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.Controlers_caption
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u3021-4
{
	font-family: open-sans-n4, sans-serif;
}

#u420-2,#u420-3,#u428-2,#u486-2,#u496-4,#u495-4,#u497-4,#u498-4
{
	font-family: open-sans-n7, sans-serif;
}

#u287-8,#u252-4,#u264-4,#u266-4,#u306-6,#u420-7,#u428-5,#u424-4,#u430-4,#u486-5,#u487-4,#u502-5,#u608-6,#u678-5,#u666-4,#u668-4,#u670-4,#u674-4,#u716-4
{
	font-family: open-sans-n3, sans-serif;
}

#u724-4,#u729-4,#u726-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u723-4,#u730-4,#u727-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u2835-6,#u2877-7
{
	font-family: open-sans-n3, sans-serif;
}

#u306-2,#u420-4,#u502-2,#u324-4,#u349-4,#u608-2,#u678-2,#u666,#u668,#u670,#u674,#u2835-2,#u2877-4
{
	font-family: open-sans-n6, sans-serif;
}

#u268-6,#u420,#u428,#u486,#u490-4,#u491-4,#u492-4,#u493-4,#u503-5,#u325-4,#u350-4,#u679-5,#u2877-2,#u2920-4
{
	font-family: open-sans-n4, sans-serif;
}

#u261-5,#u265-4,#u267-4,#u423-6,#u429-4,#u329-4,#u351-4,#u667-4,#u669-4,#u671-4,#u675-4,#u2921-8,#u2938-4
{
	font-family: arimo-n4, sans-serif;
}

